@import 'style.css';

.head-store{
    height: 250px;
    background-color: black;
    /* display: ; */
    /* position: fixed; */
    width: 100%;
}

.card-left{
    margin: 20px 20px 20px 300px;
    justify-content: space-around;
}

.card-left img{
    width: 220px;
    border-radius: 6px;
    margin: 15px;
    height: 170px;
    object-fit: cover;
}

.section-right{
    font-family: 'Lato', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin: 20px;
}

.section-right h1{
    padding-top: 30px;
    font-size: 25px;
    color: #00FF00;
    text-transform: uppercase;
}
.section-right h2 {
    color: #ffffffbf;
    /* text-transform: uppercase; */
    font-size: 18px;
    padding-top: 10px;
}

.section-right h3{
    color: #ffffffbf;
    font-size: 16px;
    padding-top: 60px;
}

.container{
    margin: 50px 277px;
}
.left{
    /* border: 2px solid black; */
    /* padding: 100px 50px 100px 100px; */
    float: left;
    margin: 100px 30px 0px 300px;
}

.left ul{
    list-style: none;
}

.left li, .left a{
    text-decoration: none;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    line-height: 2;
    /* text-align: right; */
    color: black;
    font-size: 16px;
}

.left a:hover{
    font-weight: bold;
}

.right{
    width: 100%;
    /* border: 2px solid black; */
    padding: 0px 0px 100px 50px;   
}

.vl {
    border-left: 2px solid #80808066;
    /* height: 100%; */
    padding-right: 20px;
    margin-left: 75px;
    margin-bottom: 100px;
}

.card-container{
    padding-top: 80px;
    flex-wrap: wrap;
}

.card{
    /* border: 2px solid black; */
    width: 200px;
    height: 300px;
    /* margin: 5px; */
    /* margin: 0px 8px; */
}

.card:hover{
    /* -ms-transform: scale(1.1); IE 9 */
    /* -webkit-transform: scale(1.1); Safari 3-8 */
    /* transform: scale(1.1); */
    transition: all 0.3s ease 0s;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,25%), 0 6px 6px 0 rgba(0,0,0,25%);
    /* box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%), 0 2px 3px 0 rgb(0 0 0 / 19%); */
}

.card img{
    margin: 8px 20px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    height: 125px;
    transition: all 1s ease;
    margin-top: 22px;
    /* display: block; */
    object-fit: cover;
}
/* .left{
    position: fixed;
} */
.card h6 {
    /* margin: 5px 0 3px; */
    color: #999;
    font-size: 10px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    padding: 20px 30px 10px 30px;
}

.card h5{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    padding: 0px 10px 0 30px;
    font-weight: 200;
    font-size: 12px;
}

.card input{
    width: 25px;
    height: 15px;
}

/* .card button{
    background-image: url("images/icons/add to cart.svg");
} */

/* .card button{
    width: 20px;
    height: 20px;
}/ */

.card button{
    /* padding: 5px; */
    padding: 1px 5px;
    font-size: 6px;
    text-transform: uppercase;
    background-color: #00FF00;
    color: white;
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,25%), 0 1px 1px 0 rgba(0,0,0,25%);
}

.card button:hover{
    background-color: black;
}

.mrp{
    justify-content: space-around;
    padding: 30px;
}

.card h4{
    color: #999;
    font-size: 10px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    
}

.right h1{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 25px;
}

html{
    scroll-behavior: smooth;
}

section{
    padding: 50px 0px;
}

.top{
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,25%), 0 2px 2px 0 rgba(0,0,0,25%);
    background-color: #00FF00;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 2;
}

.card-top img{
    width: 30px;
}
/* footer{
    position: relative;
    bottom: 0;
} */

.hide {
    opacity: 0;
    right: -100%;
  }
.show {
    opacity: 1;
    right: 20px;
}



@media screen and (max-width: 1537px) {
    
    .card-left img {
        width: 200px;
        height: 150px;
    }    
    .section-right h1 {
        padding-top: 25px;
        font-size: 20px;
    }
    .section-right h2 {
        font-size: 15px;
    }
    .section-right h3 {
        font-size: 12px;
    }
    .left li, .left a {
        font-size: 13px;
    }
    .right h1 {
        font-size: 20px;
    }
    .left {
        margin: 100px 30px 0px 270px;
    }
    .container {
        margin: 50px 0px 0px 175px;
    }
    /* .card-left {
        margin: 20px 20px 20px 150px;
        justify-content: space-around;
    } */
    .card-left {
        margin: 20px 20px 20px 260px;
        justify-content: space-around;
    }
    .vl {
        border-left: 1px solid #80808066;
    }
}

@media screen and (max-width: 1367px) {
    section {
        padding: 50px 0px;
        padding-right: 100px;
    }
}